# Env
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/

# Alembic
alembic/versions/*.pyc

# Coverage
.coverage
htmlcov/
coverage.xml

# IDE
.vscode/
.idea/
